.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;

  .avatar {
    flex: 0 1 auto;
  }

  .widget-button, .btn-group {
    flex: 0 1 auto;
    height: 32px;
    width: 36px;
  }

  .dropdown-menu {
    text-align: left;
    bottom: initial;
    left: initial;
  }

  .hide-input {
    flex: 0 1 auto;
  }
}

.place-about {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 101;
  display: inline-block;
  border-radius: 50%;
  background-color: $secondary;

  .place-avatar {
    overflow: hidden;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid dark-light-diff($primary, $secondary, 80%, -65%);
    cursor: pointer;

    img {
      width: 34px;
      height: 34px;
    }
  }

  &.list {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    z-index: 202;
    padding: 3px;

    .place-avatar {
      display: inline-block;
      vertical-align: middle;
      z-index: 203;
    }

    .about-list-title {
      font-size: 16px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
    }

    .about-list {
      margin-top: 7px;
      padding: 0 5px;
      position: relative;

      &>ul>li {
        margin: 3px 0;
        padding: 0;
        border: none;
      }

      .election-list {
        display: inline-block;

        li {
          margin: 0;
        }
      }

      .create-election-link {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }

      .dropdown-menu {
        left: 200px;
        bottom: -300px;
      }
    }
  }
}

.locations-map.expanded .place-about {
  top: 20px;
  left: 20px;

  &.list {
    top: 0;
    left: 0;
    padding: 20px;
  }

  .about-list {
    margin-top: 13px;
  }

  .about-list-title {
    font-size: 22px;
  }
}

ul.place-links {
  list-style: none;
  margin: 4px 0 0 0;

  li {
    margin-top: 8px;
  }
}

#topic-progress-wrapper {
  position: fixed !important;
  bottom: 0 !important;
  right: 20% !important;
  z-index: 99;
}

.topic-avatar {
  z-index: initial;
}

#list-area .top-lists h2 {
  font-size: 1.2em;
}

.category-list tbody tr {
  border-right: 1px solid $primary-low;
}

div.inline-list-navigation .widget-multi-title {
  a.widget-link.list-title {
    font-size: 1em;
    padding: 0 6px;

    span {
      @extend a.p-link;
    }
  }

  .category-lists {
    a.widget-link.list-title:first-of-type {
      padding-left: 0;
    }
  }
}

.inline-list-navigation {
  background-color: $secondary;
  border-left: 1px solid $primary-low;
  border-right: 1px solid $primary-low;

  .civically-path {
    position: relative;
    padding: 10px 15px;
    line-height: 20px;

    .show-nav {
      background-color: $secondary;
      color: $primary-medium;
      padding: 0;
      margin-left: 2px;

      &:hover {
        color: $primary;
      }
    }

    .widget-multi-title {
      margin-bottom: 0;
    }

    .display-controls {
      margin-left: auto;
      position: relative;
      display: flex;
      align-items: center;

      .spinner {
        width: 4px;
        height: 4px;
        margin: 0;
      }

      > a {
        color: $primary-medium;
        font-size: 0.9em;
        margin-left: 7px;

        &:hover {
          color: $primary;
        }
      }

      i.check {
        color: $success;
      }

      .tip {
        position: absolute;
        right: 0;
        width: 250px;
        top: -60px;
        padding: 5px 8px;
        background-color: $secondary;
        box-shadow: shadow('card');
        border: 1px solid $primary-low;

        p {
          margin: 0;
        }
      }
    }
  }

  .nav-dropdown {
    position: absolute;
    z-index: 100;
    top: 30px;
    width: 200px;
    background: $secondary;
    padding: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid $primary-low;
    list-style: none;
    margin: 0;

    li {
      cursor: pointer;
      padding: 5px;

      &.add-border {
        border-bottom: 1px solid $primary-low;
      }

      &:hover {
        background-color: $tertiary-low;
      }
    }
  }
}

.discovery-title-composer.hide-input + .inline-list-navigation {
  border-top: 1px solid $primary-low;
  border-radius: 4px 4px 0 0;
}

.contents > .top-lists {
  padding: 0 15px;
  display: inline-block;

  .select-kit button {
    font-size: 0.8em;

    h2 {
      font-weight: 400;
    }
  }

  .select-kit-body {
    top: 24px !important;

    li {
      font-weight: 400 !important;
      font-size: 1em !important;
    }
  }
}

.discovery.no-sidebars .inline-list-navigation {
  border: none;

  .civically-path {
    padding: 10px 0;

    .widget-multi-title {

      .list-title {
        font-size: 1.5em;
        padding: 0 8px;
      }
    }
  }
}

.main-content.loading {
  max-width: 680px;
}

.main-content.has-sidebars {
  max-width: 680px;

  #share-link {
    left: 300px !important;
  }
}

.main-content.tags {
  .list-controls {
    display: none;
  }
}

aside.sidebar {
  margin-bottom: 100px;
}

.footer-message {
  padding: 15px;
}

.widget-multi-title {
  display: flex;
  margin-bottom: 7px;

  a.widget-link.list-title {
    padding: 0 6px;
    margin-right: 0;
    text-decoration: none;
    color: $primary;
    position: relative;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-right: none;
    }

    &.active span {
      @extend a.p-link;
    }

    &.unread {
      font-weight: 600;
    }

    a.badge {
      position: absolute;
      top: -8px;
      right: -8px;
    }
  }
}

.main-content .topic-list {
  td:first-of-type {
    padding-left: 15px;
  }

  td:last-of-type {
    padding-right: 15px;
  }
}
