<div class="control-group">
  <label class='control-label'>{{i18n 'user.navigation.title'}}</label>
  <div class="controls">
    {{input type='checkbox' checked=model.custom_fields.pin_nav}}
    <span>{{i18n 'user.navigation.pin.description'}}</span>
  </div>
</div>
